@model UKParliamentDynamicGraph
@{
    ViewData["Title"] = "Treaties";
}

<div class="section--primary">
    <div class="container">
        <h1><span>@ViewData["Title"]</span></h1>
        <p>@Localizer["Abstract"]</p>
    </div>
</div>

<section id="content">
    <div class="container">
        <ol class="list--block">
            @foreach (var treaty in Model.Treaties)
            {
                <li>
                    <div class="card">
                        <div class="card__details">
                            <h2>
                                @treaty.LaidThingName.Single()
                            </h2>
                            @foreach (var laying in @treaty.LaidThingHasLaying)
                            {
                                <p>laying date: @laying.LayingDate.Single().ToString()</p>
                                @foreach (var layingBody in @laying.LayingHasLayingBody)
                                {
                                    <p>laying body: @layingBody.GroupName.Single()</p>
                                }
                            }
                            @foreach (var workpackage in @treaty.WorkPackagedThingHasWorkPackage)
                            {
                                @foreach (var procedure in @workpackage.WorkPackageHasProcedure)
                                {
                                    <p>procedure: @procedure.ProcedureName.Single()</p>
                                }
                            }
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
</section>
