<form method="get" asp-action="Index" asp-controller="Search">
    <div class="input-group">
        <label class="sr-only" for="search_box">@Localizer["EnterKeyword"]</label>
        <input id="search_box" maxlength="1000" name="q" pattern="^(?!.*<script|<Script).*$" aria-label="@Localizer["EnterSearchTerm"]" autocomplete="off" required="" type="search">
        <button aria-label="@Localizer["SubmitSearch"]" class="btn--white" type="submit">
            <svg aria-hidden="true" data-icon="search" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                <title>@Localizer["SearchIcon"]</title>
                <g fill="#373151">
                    <path d="M7.5 15C3.4 15 0 11.6 0 7.5 0 3.4 3.4 0 7.5 0 11.6 0 15 3.4 15 7.5 15 11.6 11.6 15 7.5 15ZM7.5 13C10.5 13 13 10.5 13 7.5 13 4.5 10.5 2 7.5 2 4.5 2 2 4.5 2 7.5 2 10.5 4.5 13 7.5 13Z"></path>
                    <polygon points="14.8 10.8 16.8 10.8 16.8 20.8 14.8 20.8" transform="translate(15.778175 15.778175)rotate(-45)translate(-15.778175 -15.778175)"></polygon>
                </g>
            </svg>
        </button>
    </div>
</form>
<a aria-hidden="true" aria-label="@Localizer["OpenSearch"]" asp-action="Index" asp-controller="Search">
    <svg aria-hidden="true" data-icon="search" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
        <title>@Localizer["SearchIcon"]</title>
        <g fill="#373151">
            <path d="M7.5 15C3.4 15 0 11.6 0 7.5 0 3.4 3.4 0 7.5 0 11.6 0 15 3.4 15 7.5 15 11.6 11.6 15 7.5 15ZM7.5 13C10.5 13 13 10.5 13 7.5 13 4.5 10.5 2 7.5 2 4.5 2 2 4.5 2 7.5 2 10.5 4.5 13 7.5 13Z"></path>
            <polygon points="14.8 10.8 16.8 10.8 16.8 20.8 14.8 20.8" transform="translate(15.778175 15.778175)rotate(-45)translate(-15.778175 -15.778175)"></polygon>
        </g>
    </svg>
    <svg aria-hidden="true" data-icon="close" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
        <title>@Localizer["Close"]</title>
        <g stroke="#373151">
            <g><line stroke-width="2" x1="0" x2="18" y1="0" y2="18"></line></g>
            <g><line stroke-width="2" x1="0" x2="18" y1="18" y2="0"></line></g>
        </g>
    </svg>
</a>