@model UKParliament.Model.UKParliamentDynamicGraph
@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="hero">
    <div class="container">
        <h1>@Localizer["Title"]</h1>
        @Localizer["Abstract"]
    </div>
</div>
<section class="section--major section--wide ">
    <div class="container">
        <h2>@Localizer["House"]</h2>
        <partial name="../Shared/_House.cshtml" />
        <h2>@Localizer["Procedure"]</h2>
        <partial name="../Shared/_Procedure.cshtml" />
        <h2>@Localizer["UnitedKingdom"]</h2>
        <ol class="list--block list--3">
            <li>
                <div class="card">
                    <div class="card__details">
                        <h3><a asp-controller="Home" asp-action="Index">@Localizer["Constituency"]</a></h3>
                        <p>@Localizer["ConstituencyAbstract"]</p>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</section>
