@model UKParliament.Model.UKParliamentDynamicGraph
@{
    ViewData["Title"] = Model.Treaties.FirstOrDefault().WorkPackagedThingHasWorkPackage.WorkPackageHasProcedure.ProcedureName;
}

<div class="section--primary">
    <div class="container">
        <small><a asp-controller="Procedure" asp-action="Index">@Localizer["Category"]</a></small>
        <h1><span>@ViewData["Title"]</span></h1>
        <p>Number of treaties: @Model.Treaties.Count()</p>
    </div>
</div>

<section id="content">
    <div class="container">
        <ol class="list--block">
            @foreach (var treaty in Model.Treaties.OrderByDescending(x => x.LaidThingHasLaying.FirstOrDefault()?.LayingDate))
            {
                <li>
                    <div class="card">
                        <div class="card__details">
                            <h2>
                                <a asp-controller="Treaty" asp-action="Item" asp-route-id="@treaty.Id">@treaty.LaidThingName</a>
                            </h2>
                            <ul class="list--inline">
                                <li>
                                    <a class="hint theme--grey-5" href="?leadGovernmentOrganisation=@treaty.TreatyHasLeadGovernmentOrganisation.Id">@treaty.TreatyHasLeadGovernmentOrganisation.GroupName</a>
                                </li>
                                @if (!@treaty.WorkPackagedThingHasWorkPackage.WorkPackageHasBusinessItem.Any(businessItem => businessItem.BusinessItemHasProcedureStep.Any(procedureStep => UKParliament.GraphHelper.TreatyProcedureEndStep.Contains(procedureStep.Id))))
                                {
                                    <li>
                                        <a class="hint theme--grey-5" href="?current">Current</a>
                                    </li>
                                }
                                @if (@treaty.WorkPackagedThingHasWorkPackage.WorkPackageHasBusinessItem.Any(businessItem => businessItem.BusinessItemHasProcedureStep.Any(procedureStep => UKParliament.GraphHelper.TreatyProcedureEndStep.Contains(procedureStep.Id))))
                                {
                                    @foreach (var businessItem in @treaty.WorkPackagedThingHasWorkPackage.WorkPackageHasBusinessItem)
                                    {
                                        @foreach (var procedureStep in businessItem.BusinessItemHasProcedureStep)
                                        {
                                            @if (UKParliament.GraphHelper.TreatyProcedureEndStep.Contains(procedureStep.Id))
                                            {
                                                <li>
                                                    <a class="hint theme--grey-5" href="?procedureStep=@procedureStep.Id">@procedureStep.ProcedureStepName</a>
                                                </li>
                                            }
                                        }
                                    }
                                }
                                @if (@treaty.TreatyHasCountrySeriesMembership != null)
                                {
                                    <li>
                                        <a class="hint theme--grey-5" href="?seriesMembershipType=@treaty.TreatyHasCountrySeriesMembership.GetType().Name">Country series membership</a>
                                    </li>
                                }
                                @if (@treaty.TreatyHasEuropeanUnionSeriesMembership != null)
                                {
                                    <li>
                                        <a class="hint theme--grey-5" href="?seriesMembershipType=@treaty.TreatyHasEuropeanUnionSeriesMembership.GetType().Name">European Union series membership</a>
                                    </li>
                                }
                                @if (@treaty.TreatyHasMiscellaneousSeriesMembership != null)
                                {
                                    <li>
                                        <a class="hint theme--grey-5" href="?seriesMembershipType=@treaty.TreatyHasMiscellaneousSeriesMembership.GetType().Name">Miscellaneous series membership</a>
                                    </li>
                                }
                                @*
                                    TODO: Something like treaty is in force treaty and inforcetreaty has InForceTreatyHasTreatySeriesMembership
                                    @if (@treaty. != null)
                                {
                                    <li>
                                        <a class="hint theme--grey-5" href="?seriesMembershipType=@treaty.TreatyHasSeriesMembership.GetType().Name">In force treaty</a>
                                    </li>
                                }*@
                            </ul>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
</section>
